* {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-weight: 700;
}

.App {
  text-align: center;
  width: 900px;
  margin: 0 auto;
}

body {
  background-color: rgb(221, 248, 183);
}

div.guestCard {
  border: 5px black;
  border-radius: 20px;
  background-color: aliceblue;
  margin-bottom: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-shadow: 2px 3px 4px #00000078;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div.guestCard button {
  background-color: rgb(198, 60, 60);
  color: white;
  padding: 4px;
  border-radius: 4px;
  position: relative;
  left: 36px;
  border: 2px rgb(198, 60, 60);
}

div.guestCard button:hover {
  background-color: rgb(255, 80, 80);
  border: 2px rgb(255, 80, 80);
}

div.inputArea {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

div.inputArea label {
  padding: 8px;
}

div.enterHint {
  position: relative;
  background-color: rgb(236, 185, 185);
  border-radius: 15px;
  max-width: 110px;
  padding: 5px;
  left: 650px;
  top: -35px;
}

div.enterHint::before {
  content: '⬅️';
}

span.name {
  font-weight: 500;
  max-width: 130px;
}
